@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    text-align: center;
    
}


li,a {
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 30px 10%;
    background-image: linear-gradient(-50deg, #333, #10a8e4);
    /* position: fixed; */
}

.openMenu{
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
    color: white;
}

.closeMenu{
    font-size: 2rem;
    display: none;
    cursor: pointer;
    color: white;
}

@media(max-width: 801px) {
    .links{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(-30deg, #7fffd4, #01868b);
        transition: top 1s ease;
        display: none;
    }
    .links a{
        font-size: 1.3rem;
    }
    .closeMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .openMenu{
        display: block;
    }
    .links li a:hover {
        background: none;
        color: white;
        font-size: 1.6rem;
    }
}


.log_links_wrapper{
    margin-left: auto;
}
.log_links a{
    padding-right: 20px;
}
.log_links .get-started{
    margin-right: auto;
}
.logo{
    cursor: pointer; 
    display: flex;
    margin-right: auto;  
}
.links, .log_links{
    list-style: none;
}
.links li{
    display: inline-block;
    padding: 0px 20px;
}
.log_links li{
    display: inline-block;
}
li a{
    transition: all 0.3s ease 0s;
}
li a:hover{     
    color: #7fffd4;
}
.get-started {
    border: none;
    color: #fff;
    background-image: linear-gradient(-30deg, #7fffd4, #01868b);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
   }
   
.get-started:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
    cursor: pointer;
}
   
@keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}

@media only screen and (max-width: 1000px){
    li,a{
        font-size: 12px;
    }
    .get-started{
        font-size: 12px;
    }
}

@media only screen and (max-width: 800px){
    li,a{
        font-size: 11px;
    }
    .get-started{
        font-size: 11px;
    }
}

@media only screen and (max-width: 600px){
    li,a{
        font-size: 10px;
    }
    .get-started{
        font-size: 10px;
    }
}






/* main */


body{
    background:#d2effa; 
}


h1{
    color: rgb(0, 0, 0);
    padding: 50px 0;
    text-align: center;
}


video{
    box-shadow: 13px 13px 15px #828282;
    background-color: black;
}


.grid-wrapper{
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 1fr;
  grid-template-rows: 100vh;
    background-color:#d2effa ;
    justify-items: center;
    align-items: center;
}



.founders{
    display: grid;
    margin-left: 50px;
    grid-column-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    background-color:#d2effa ;
}

.container{
    height: 60vh;
    max-width: 300px;
    width: 100%;
    margin: 30px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3f2fd;
    border-radius: 10px;
    box-shadow: 13px 13px 15px #cbced1;
}

.left{
    margin-left: 50px;
}
.container > .founder{
    width: 100%;
}


.founder{
    position: relative;
    max-width: 500px;
    width: 100%;
    padding: 25px 0;
    /* background-color: #fff; */
}

.founder img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.founder .slide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}

.slide h2, .slide h3{
    text-align: center;
    width: 100%;
    padding: 0 10px;
    font-size: 19px;
    font-weight: bold;
    text-transform: capitalize;
    color: #333;
}

@media only screen and (max-width:1330px){
    .founders{
        margin: 0;
    }
    .left{
        margin-left: 10px;
    }
}












/* footer */

.foot-container{
    max-width: 1170px;
    /* background-color: red; */
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul{
    list-style: none;
}

.footer{
    background-color: #094e5d ;
    padding: 40px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;

}
.footer-col h4{
    font-size: 15px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 10px;  
    font-weight: 500;
    position: relative;  
}

.input-box{
    display: inline-block;
    justify-content: center;
    align-items: center;
}
footer input{
    background-color: black;
    border-color: black;
    color: white;
    border-radius: 7px;
}


.w-button {
    display: inline-block;
    padding: 9px 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 15px;
    color: #fff;
    border: 0;
    border-radius: 10px;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    background-image: linear-gradient(-30deg, #7fffd4, #01868b)
}


#email{
    width: 100%;
    background-color: white;
    color: black;
    /* height: 2vh; */
    margin-bottom: 0;
    border: 2px solid #7e7e7e;
    font-size: 17px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 12px;
    text-transform: capitalize;
    columns: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.9 ease-out;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links i{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links i:hover{
 color:#24262b;
 background-color: #ffffff;
}

/* responsive */
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px ;
    }
}


@media(max-width: 574){
    .footer-col{
        width: 100%;
    }
}